{% extends "learning_logs/base.html" %}
{% load static %}

{% block page_header %}
	<div class="jumbotron transp-background">
		<h1 class="display-3">Track your learning.</h1>

		<p class="lead">Make your own Learning Notepad, and keep a list of the topics you're learning about. Whenever you learn something new about a topic, make an entry summarizing what you've learned.</p>

		<a class="btn btn-lg btn-orange" href="{% url 'users:register' %}" role="button">Register &raquo;</a>
	</div>
{% endblock page_header %}